<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OutputForm1</title>
    <style>
        table,th,td{
            border: 1px solid black;           
            border-collapse: collapse;
        }
        th,td{
            padding: 10px;
        }
        th{
            text-align: right;
        }
        .tablealign{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    </style>
</head>
<body>
    {% block content %}
        <form>
            <table class="tablealign">
                <tr>
                    <th colspan="2">
                        <center><h3>Login Details</h3></center>
                    </th>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{Name}}</td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>{{Password}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{Email}}</td>
                </tr>
                <tr>
                    <th>PhoneNumber</th>
                    <td>{{Number}}</td>
                </tr>                
            </table>
        </form>
    {% endblock %}
</body>
</html>