<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static File</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/static.css'%}">
</head>
<body>
    <center><h1><u>Static File</u></h1></center>
    <img src="{% static 'images/1.jpg' %}" alt="">
    <img src="{% static 'images/2.jpg' %}" alt="">
    <img src="{% static 'images/3.jpg' %}" alt="">
</body>
</html>